<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Slack_ASG7_Defaults.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Slack_ASG7_Defaults.Properties.Settings>
            <setting name="DefaultCity" serializeAs="String">
                <value>Algoma</value>
            </setting>
            <setting name="DefaultState" serializeAs="String">
                <value>WI</value>
            </setting>
            <setting name="DefaultZip" serializeAs="String">
                <value>54201</value>
            </setting>
            <setting name="EmployeeEmail" serializeAs="String">
                <value>slackjl1@my.witc.edu</value>
            </setting>
        </Slack_ASG7_Defaults.Properties.Settings>
    </userSettings>
</configuration>